
@{
    ViewData["Title"] = "View";
}

<h1>Get to know Joel!</h1>
<div>
    <a href="https://qwcomedy.com/">Watch Joel perform live shows here!</a>
</div>
<div>
    <a href="https://baconsale.com/">Listen to Joel's podcast here!</a>
    <a href="https://baconsale.com/"><img src="~/img/BaconsaleKate.jpg" /></a>
</div>